body {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    height: 50px;
    min-width: 141px;
    padding-inline: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    font-size: 30px;
}

.button-3 {
    color: #262626;
    letter-spacing: 2px;
    border: 3px solid #262626;
    transition: 1s;
}

.button-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    z-index: -1;
    transform: rotateX(90deg);
}

.button-3:hover::before {
    transform: rotateX(0deg);
}

.button-3:hover {
    color: #fff;
}

.button-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    z-index: -1;
    transform: rotateY(90deg);
}

.button-3:hover::after {
    transform: rotateY(0deg);
}

.button-4 {
    letter-spacing: -2px;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    color: #e1332d;
    transition: all .5s;
}

.button-4:hover {
    letter-spacing: 10px;
    border: 7px solid #e1332d;
    font-weight: bold;
}

.button-5 {
    border: 3px solid black;
    color: black;
    transition: all 1s;
    overflow: hidden;
}

.button-5::before {
    content: 'yeah!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background-color: red;
    color: white;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.button-5:hover::before {
    transform: translateY(0);
}

.button-6 {
    border: 3px solid #222;
    color: #222;
    transition: all .3s;
    overflow: hidden;
}

.button-6:hover {
    background-color: red;
    color: #fff;
}

.button-6::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    transform: translateX(-70%) rotate(45deg);
    transition: all .3s;
}

.button-6:hover::before {
    transform: translateX(70%) rotate(45deg);
}