body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

a, .btn {
    height: 50px;
    min-width: 141px;
    padding-inline: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    font-size: 30px;
}

.button1 {
    text-decoration: none;
    color: #272727;
    border: 5px solid #272727;
    overflow: hidden;
    margin-bottom: 5px;
}

.button1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellow;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.button1:hover::before {
    transform: rotate(0deg);
}

.button2 {
    text-decoration: none;
    color: #531435;
    border: 5px solid #531435;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all 1s ease-in-out;
}

.button2:hover {
    color: white;
}

.button2::before {
    content: '';
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #531435;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
}

.button2:hover::before {
    transform: translateX(0);
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}

.button-3 {
    color: #262626;
    letter-spacing: 2px;
    border: 3px solid #262626;
    transition: 1s;
}

.button-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    z-index: -1;
    transform: rotateX(90deg);
}

.button-3:hover::before {
    transform: rotateX(0deg);
}

.button-3:hover {
    color: #fff;
}

.button-3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    z-index: -1;
    transform: rotateY(90deg);
}

.button-3:hover::after {
    transform: rotateY(0deg);
}

.button-4 {
    letter-spacing: -2px;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    color: #e1332d;
    transition: all .5s;
}

.button-4:hover {
    letter-spacing: 10px;
    border: 7px solid #e1332d;
    font-weight: bold;
}

.button-5 {
    border: 3px solid black;
    color: black;
    transition: all 1s;
    overflow: hidden;
}

.button-5::before {
    content: 'yeah!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background-color: red;
    color: white;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.button-5:hover::before {
    transform: translateY(0);
}

.button-6 {
    border: 3px solid #222;
    color: #222;
    transition: all .3s;
    overflow: hidden;
}

.button-6:hover {
    background-color: red;
    color: #fff;
}

.button-6::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    transform: translateX(-70%) rotate(45deg);
    transition: all .3s;
}

.button-6:hover::before {
    transform: translateX(70%) rotate(45deg);
}

.button-7 {
    border: 3px solid #262626;
    background-color: #262626;
    color: transparent;
    transition: all .5s;
    overflow: hidden;
}

.button-7::before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #262626;
    transition: all .3s;
    background-color: #fffa65;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.button-7::after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #262626;
    transition: all .3s;
    background-color: #fffa65;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    transform: translate(-100%, 100%);
}

.button-7:hover::before {
    transform: translate(100%, -100%);
}

.button-7:hover::after {
    transform: translate(0, 0);
}

.button-8 {
    border: 3px solid #262626;
    color: #262626;
    transition: all .5s;
    overflow: hidden;
}

.button-8::before {
    content: 'hover me';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    transition: all .3s;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    opacity: 0;
    transform: scale(5);
}

.button-8:hover::before {
    opacity: 1;
    transform: scale(1);
    transition: all .5s;
}

.btn-1 {
    background-color: transparent;
    color: tomato;
    border: 3px solid tomato;
    transition: all .5s;
    text-transform: uppercase;
    cursor: pointer;
    height: 56px;
    overflow: hidden;
}

.btn-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: tomato;
    transition: all .5s;
    z-index: -1;
    border-radius: 0 0 50% 50%;
}

.btn-1:hover {
    color: white;
}

.btn-1:hover::before {
    height: 190%;
}

.button-9 {
   text-transform: uppercase;
    background-color: #f1c40f;
    color: #fff;
    letter-spacing: 2px;
}

.button-9::before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2ce771;
    transition: all .5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
}

.button-9::after {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transition: all .5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition-delay: .25s;
}

.button-9:hover::before {
    transform: rotateX(0deg);
}

.button-9:hover::after {
    transform: rotateX(0deg);
}