body {
     margin: 0;
     padding: 10px 0px;
     font-family: Lato, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 20px;
     background-color: #4b4b4b;
}

.list {
	margin: 20px 0;
	padding: 0;
	display: flex;
}

li {
	list-style: none;
	color: white;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: 10px;
	transition: 2s;
}

.list:hover li {
	transform: rotate(45deg) translateY(-200px);
	opacity: 0;
	filter: blur(20px);
}

.list li:nth-child(1) {
	transition-delay: 0;
}

.list li:nth-child(2) {
	transition-delay: 0.4s;
}

.list li:nth-child(3) {
	transition-delay: 0.8s;
}

.list li:nth-child(4) {
	transition-delay: 1.2s;
}

.text {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 120px;
  color: #ccc;
  text-transform: uppercase;
  position: relative;
}

.text:before {
  content: "ziad";
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s
}

.text:hover:before {
  width: 100%;
}

.container{
  text-align: center;
  display: flex;
}
.icon{
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: #10ac84;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}
.icon i{
  line-height: 90px;
  font-size: 25px;
  transition: 0.2s;
}
.icon:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.icon::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #10ac84;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}
.icon:hover::before{
  animation: animation 0.7s 1 forwards;
}
@keyframes animation {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 15%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}


.box {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.box h1 {
  margin: 0;
  padding: 0;
  color: #272727;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.box span {
  color: #58c747;
  font-size: 30px;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box:hover:before {
  transform: scaleX(1);
}

.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid #58c747;
  border-left: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

.box:hover:after {
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.box .rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.box .rotated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box:hover .rotated:before {
  transform: scaleX(1);
  transition-delay: 1s;
}

.box .rotated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid #58c747;
  border-left: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

/* .box:hover .rotated:after {
  transform: scaleY(1);
  transition-delay: 1.5s;
} */

.open-close {
  margin: 0;
  padding: 0;
  font-size: 10em;
  display: flex;
  color: #fff;
  cursor: pointer;
}

.open-close  li {
  list-style: none;
  transition: 0.5s;
}
.open-close:hover li {
  transform: rotate(180deg);
}

.open-close:hover li:last-child {
  transition-delay: 0.5s;
}
.open-close  li span {
  transition: 0.5s;
  display: inline-block;
}

.open-close:hover li:last-child span:nth-child(2) {
  transform: rotate(180deg) translateY(-25px);
  transition-delay: 1s;
}

.open-close:hover li:last-child span:nth-child(1) {
  transform: rotate(90deg) translateY(10px);
  transition-delay: 1.5s;
}
